{:deps {org.clojure/clojure             {:mvn/version "1.10.1"}
        org.clojure/core.async          {:mvn/version "0.4.500"}
        com.taoensso/sente              {:mvn/version "1.13.1"}}
 :paths ["src/clj" "src/cljc" "src/cljs"]
 :aliases {:nrepl
           {:extra-deps
            {cider/cider-nrepl               {:mvn/version "0.22.3"}
             ;;; nrepl/nrepl                     {:mvn/version "0.6.0"}
             cider/piggieback                {:mvn/version "0.4.2"}
             com.bhauman/figwheel-main       {:mvn/version "0.2.3"}
             com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}}
           :pack
           {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                          :sha "2769a6224bfb938e777906ea311b3daf7d2220f5"}}
            :main-opts ["-m"]}}}
